In [7]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

# de XLSX a CSV

In [6]:
# Ruta a tu archivo Excel
excel_file = './data/Estadisticas_historicas_comercializacion.xlsx'

os.makedirs('data', exist_ok=True)

# ajusta estos valores según tu archivo:
skip_top = 6     # filas de encabezado a omitir
skip_bottom = 3  # filas de pie de página a omitir

df_import = pd.read_excel(
    excel_file,
    sheet_name='IMPORTACION',
    engine='openpyxl',
    skiprows=skip_top,
    skipfooter=skip_bottom
)
df_consumo = pd.read_excel(
    excel_file,
    sheet_name='CONSUMO',
    engine='openpyxl',
    skiprows=skip_top,
    skipfooter=skip_bottom
)

df_import.to_csv('data/importacion.csv', index=False, encoding='utf-8-sig')
df_consumo.to_csv('data/consumo.csv',    index=False, encoding='utf-8-sig')

print("Listo: data/importacion.csv y data/consumo.csv creados sin header ni footer.")

Listo: data/importacion.csv y data/consumo.csv creados sin header ni footer.

# Analisis Exploratorio Consumo

In [9]:
df = pd.read_csv('data/consumo.csv', parse_dates=['Fecha'])
df

,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gas natural,...,Kerosina,Mezclas\r\noleosas,Naftas,PetCoke,Petróleo crudo,Solventes,Butano,Diesel alto azufre,Orimulsión,Total
0,2000-01-01,0.00,48446.00,296766.99,0.00,0.00,0.00,0.00,194410.476190,NaN,...,64026.09,0.00,0.00,0.00,0.00,0.00,0.0,634667.06,0,1.750545e+06
1,2000-02-01,0.00,50597.00,328116.44,0.00,0.00,0.00,0.00,174710.552381,NaN,...,62660.30,0.00,0.00,0.00,0.00,0.00,0.0,642380.66,0,1.773220e+06
2,2000-03-01,0.00,27593.00,368589.63,0.00,0.00,0.00,0.00,189234.066667,NaN,...,61361.99,0.00,0.00,0.00,0.00,0.00,0.0,699807.25,0,1.909499e+06
3,2000-04-01,0.00,53794.00,396300.47,0.00,0.00,0.00,0.00,174330.607143,NaN,...,61814.32,0.00,0.00,0.00,0.00,0.00,0.0,586803.98,0,1.800933e+06
4,2000-05-01,0.00,60137.00,449368.92,0.00,0.00,0.00,0.00,191745.147619,NaN,...,54098.32,0.00,0.00,0.00,0.00,0.00,0.0,656948.20,0,1.941772e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2024-08-01,32669.87,16086.77,155156.95,-129.83,88992.17,1220254.20,13769.72,551959.940000,-5125.38,...,145.23,1757.07,547.58,865931.91,84348.69,11037.39,0.0,0.00,0,4.617048e+06
296,2024-09-01,17724.39,14404.37,129059.65,-682.98,78639.27,1161480.31,14234.41,555676.210000,-3617.05,...,50.76,1442.97,92.59,491181.54,78185.20,16852.16,0.0,0.00,0,4.068636e+06
297,2024-10-01,2900.53,14718.66,168233.85,18.55,77767.06,1399433.57,15236.22,600476.170000,0.00,...,129.48,1816.42,301.66,487452.36,88885.31,15873.86,0.0,0.00,0,4.599042e+06
298,2024-11-01,26601.36,40510.01,126219.84,42.69,82355.21,1307939.01,24281.06,597059.900000,0.00,...,-405.57,3646.69,213.66,458139.11,77270.48,12489.70,0.0,0.00,0,4.281218e+06
299,2024-12-01,32294.67,32072.23,138019.95,-105.04,52651.66,1474651.06,24615.04,564762.330000,-708.53,...,-1351.58,1228.81,107.08,320785.16,90160.00,14279.61,0.0,0.00,0,4.477207e+06

## Combinar variantes de diesel en una sola columna “Diesel”

In [11]:
diesel_cols = ['Diesel alto azufre', 'Diesel bajo azufre', 'Diesel ultra bajo azufre']
df['Diesel'] = df[diesel_cols].sum(axis=1)

## Seleccionar sólo Fecha y las tres variables de interés

In [13]:
cols = ['Gasolina regular', 'Gasolina superior', 'Diesel']
df = df[['Fecha'] + cols].dropna()

## Estadísticas descriptivas

In [14]:
print("=== Estadísticas descriptivas ===")
print(df[cols].describe())

=== Estadísticas descriptivas ===
       Gasolina regular  Gasolina superior        Diesel
count        300.000000         300.000000  3.000000e+02
mean      397478.894458      470248.678849  8.821302e+05
std       219102.049432      113504.653305  2.291115e+05
min       160741.900000      300242.781667  5.076627e+05
25%       215650.312917      383931.904375  6.997895e+05
50%       288193.130000      423319.540000  8.110382e+05
75%       548073.682500      573704.195000  1.053747e+06
max       938086.570000      786598.120000  1.499266e+06